################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/bin/Debug/netcoreapp3.1
*/obj
/GuitarTurner/bin/Debug/net5.0-windows
/GuitarTurner/bin/Release/net5.0-windows/ref
/GuitarTurner/bin/Release/net5.0-windows
